body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.banniere {
    background-color: #fcfcfc; /* Couleur de fond */
    display: flex;
    align-items: center; /* Centre le contenu horizontalement */
    height: 100px; /* Hauteur de la bannière */
}

/* Style pour le logo */
.logo {
    width: 60px; /* Taille du logo */
    height: auto;
    margin-left: 80px;
    margin-bottom: 10px;
}

/* Style pour le nom de l'entreprise */
.nom {
    width: 90px; /* Taille du logo */
    height: auto;
    margin-left: -30px;
    margin-right: 80px;
}

.tab-container {
    display: flex;
    margin: 0px 20px;
}

.tab-button {
    background-color: transparent;
    font-size: 15px;
    border: none;
    padding: 20px 25px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transition: color 0.3s ease; /* Transition pour la couleur du texte */
}


.tab-button::after {
    content: '';
    position: absolute;
    bottom: 0; /* Place l'élément souligné juste en bas du texte */
    left: 0;
    width: 0;
    height: 2px; /* Épaisseur du soulignement */
    background-color: #4285f4; /* Couleur du soulignement */
    transition: width 0.3s ease; /* Transition pour l'animation d'élargissement */
}

/* Effet de survol : soulignement */
.tab-button:hover::after {
    width: 100%; /* L'élément prend la largeur totale du bouton au survol */
}

/* Effet de survol : changement de couleur du texte */
.tab-button:hover {
    color: #4285f4; /* Change la couleur du texte au survol */
}

/* En-tête */
.header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 50px;
    margin-right: 10px;
}

.header .navbar ul {
    display: flex;
    list-style: none;
}

.header .navbar ul li {
    margin: 0 15px;
}

.header .navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.header .navbar ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}

/* Bannière */
.banner {
    background-color: #333;
    color: white;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content {
    max-width: 600px;

}

.banner-content h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.2em;
}


/* Section des services */
.services {
    padding: 30px 0;
    background-color: white;
}

.services h2 {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 60px;
    font-size: 30px;
}

.service-grid {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.service-item {
    background-color: #919191;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    max-width: 30%;
}

.service-item h3 {
    margin-bottom: 15px;
    color: #333;
}

/* Section de contact */
.contact {
    padding: 10px 0;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 133px;
}

.contact h2 {
    margin-bottom: 40px;
}

.contact p{
    font-size: 18px;
    color: white;
}

/* Pied de page */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

a {
    text-decoration: none;
}

/* Contenu du menu déroulant (masqué par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    text-align: left;
}

/* Liens du menu déroulant */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Affichage du menu lors du survol */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Effet d'inclinaison du triangle lors du survol */
.dropdown:hover .triangle {
    transform: rotate(180deg);
}